# Soal Prioritas 1

## 1. Ekstrak data transaksi e-commerce dari file CSV dan data produk dari file Excel

### 1.1 Install Library

In [4]:
%pip install pandas
%pip install openpyxl

Requirement already satisfied: pandas in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (2.2.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: openpyxl in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (3.1.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from openpyxl) (1.1.0)

### 1.2 Import Library

In [7]:
import pandas as pd
from IPython.display import display

### 1.3 Load Data dan Display Data

In [14]:
df_transactions = pd.read_csv('source/transactions.csv', sep=',')
df_products = pd.read_excel('source/products.xlsx')

print("Data Transaction dari file 'transactions.csv'")
display(df_transactions)

print("Data Product dari file 'products.xlsx'")
display(df_products)

Data Transaction dari file 'transactions.csv'

,Transaction ID,User ID,Item Name,Quantity,Value (USD),Status
0,1,1001,Smartphone,1,799.99,success
1,2,1002,Headphones,2,399.98,success
2,3,1003,Laptop,1,999.99,success
3,4,1004,Bluetooth Speaker,1,79.99,success
4,5,1005,Smartwatch,1,299.99,pending
...,...,...,...,...,...,...
95,96,1096,Baby Musical Toy,1,12.99,success
96,97,1097,Baby Floor Mirror,1,19.99,failed
97,98,1098,Baby Mobile,1,29.99,success
98,99,1099,Baby Stroller Organizer,1,19.99,success
99,100,1100,Baby Sun Hat,1,9.99,failed

Data Product dari file 'products.xlsx'

,ID,Product Name,Category,Description,Price
0,1,Laptop,Electronics,A powerful laptop with high performance and lo...,999.99
1,2,Smartphone,Electronics,A sleek smartphone with advanced features and ...,799.99
2,3,Headphones,Electronics,High-quality headphones with noise-canceling t...,199.99
3,4,Smartwatch,Electronics,A smartwatch with fitness tracking,299.99
4,5,Bluetooth Speaker,Electronics,A portable Bluetooth speaker with deep bass an...,79.99
...,...,...,...,...,...
95,96,Baby Musical Toy,Baby & Kids,A musical toy for entertaining and stimulating...,12.99
96,97,Baby Floor Mirror,Baby & Kids,A large floor mirror for baby's self-discovery...,19.99
97,98,Baby Mobile,Baby & Kids,A colorful baby mobile with rotating character...,29.99
98,99,Baby Stroller Organizer,Baby & Kids,A stroller organizer with multiple pockets for...,19.99
99,100,Baby Sun Hat,Baby & Kids,A wide-brimmed sun hat for protecting baby's d...,9.99

## 2. Gunakan pymysql untuk mengimpor data pelanggan dari database MySQL

### 2.1 Install Library

In [7]:
%pip install pymysql

Requirement already satisfied: pymysql in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

### 2.2 Import Library

In [2]:
from pymysql import connect

### 2.3 Connection MySQL

In [3]:
connection = connect(
    host="localhost",
    port=3308,
    db="alta_task_data_ingestion",
    user="root",
    password=""
)

cursor = connection.cursor()

### 2.4 Query Exection dan Load Data

In [5]:
cursor.execute("SELECT * FROM customers")

results = cursor.fetchall()

### 2.5 Display Data

In [8]:
print("Data Customer dari Database 'alta_task_data_ingestion'")

df_customers = pd.DataFrame(results, columns=['id', 'name', 'email', 'address'])
display(df_customers)

Data Customer dari Database 'alta_task_data_ingestion'

,id,name,email,address
0,1,John Doe,john.doe@example.com,"123 Main St, City, Country"
1,2,Jane Smith,jane.smith@example.com,"456 Elm St, City, Country"
2,3,Michael Johnson,michael.johnson@example.com,"789 Oak St, City, Country"
3,4,Emily Brown,emily.brown@example.com,"101 Pine St, City, Country"
4,5,William Taylor,william.taylor@example.com,"202 Maple St, City, Country"
5,6,Sophia Anderson,sophia.anderson@example.com,"303 Cedar St, City, Country"
6,7,James Wilson,james.wilson@example.com,"404 Birch St, City, Country"
7,8,Olivia Martinez,olivia.martinez@example.com,"505 Walnut St, City, Country"
8,9,Benjamin Garcia,benjamin.garcia@example.com,"606 Cherry St, City, Country"
9,10,Ethan Lopez,ethan.lopez@example.com,"707 Oak St, City, Country"
10,11,Emma Rodriguez,emma.rodriguez@example.com,"808 Pine St, City, Country"
11,12,Mason Lee,mason.lee@example.com,"909 Elm St, City, Country"
12,13,Ava Hernandez,ava.hernandez@example.com,"1010 Maple St, City, Country"
13,14,Logan Gonzales,logan.gonzales@example.com,"1111 Cedar St, City, Country"
14,15,Harper Young,harper.young@example.com,"1212 Birch St, City, Country"
15,16,Evelyn Evans,evelyn.evans@example.com,"1313 Walnut St, City, Country"
16,17,Owen Hall,owen.hall@example.com,"1414 Cherry St, City, Country"
17,18,Liam Green,liam.green@example.com,"1515 Oak St, City, Country"
18,19,Avery Hill,avery.hill@example.com,"1616 Pine St, City, Country"
19,20,Lucas Baker,lucas.baker@example.com,"1717 Elm St, City, Country"

## 3. Ambil data pengiriman dari API berikut: https://fakestoreapi.com/products menggunakan requests.

### 3.1 Install Library

In [9]:
%pip install requests

Requirement already satisfied: requests in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (2.31.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from requests) (1.26.18)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from requests) (2024.2.2)

### 3.2 Import Library

In [10]:
import requests

### 3.3 Load Data dan Display Data

In [11]:
url = "https://fakestoreapi.com/products"

request = requests.get(url).json()

df_products_api = pd.DataFrame(request)
display(df_products_api)

,id,title,price,description,category,image,rating
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,"{'rate': 3.9, 'count': 120}"
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,"{'rate': 4.1, 'count': 259}"
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...,"{'rate': 4.7, 'count': 500}"
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...,"{'rate': 2.1, 'count': 430}"
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,"From our Legends Collection, the Naga was insp...",jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...,"{'rate': 4.6, 'count': 400}"
5,6,Solid Gold Petite Micropave,168.00,Satisfaction Guaranteed. Return or exchange an...,jewelery,https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...,"{'rate': 3.9, 'count': 70}"
6,7,White Gold Plated Princess,9.99,Classic Created Wedding Engagement Solitaire D...,jewelery,https://fakestoreapi.com/img/71YAIFU48IL._AC_U...,"{'rate': 3, 'count': 400}"
7,8,Pierced Owl Rose Gold Plated Stainless Steel D...,10.99,Rose Gold Plated Double Flared Tunnel Plug Ear...,jewelery,https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...,"{'rate': 1.9, 'count': 100}"
8,9,WD 2TB Elements Portable External Hard Drive -...,64.00,USB 3.0 and USB 2.0 Compatibility Fast data tr...,electronics,https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...,"{'rate': 3.3, 'count': 203}"
9,10,SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...,109.00,"Easy upgrade for faster boot up, shutdown, app...",electronics,https://fakestoreapi.com/img/61U7T1koQqL._AC_S...,"{'rate': 2.9, 'count': 470}"
10,11,Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...,109.00,3D NAND flash are applied to deliver high tran...,electronics,https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...,"{'rate': 4.8, 'count': 319}"
11,12,WD 4TB Gaming Drive Works with Playstation 4 P...,114.00,"Expand your PS4 gaming experience, Play anywhe...",electronics,https://fakestoreapi.com/img/61mtL65D4cL._AC_S...,"{'rate': 4.8, 'count': 400}"
12,13,Acer SB220Q bi 21.5 inches Full HD (1920 x 108...,599.00,21. 5 inches Full HD (1920 x 1080) widescreen ...,electronics,https://fakestoreapi.com/img/81QpkIctqPL._AC_S...,"{'rate': 2.9, 'count': 250}"
13,14,Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...,999.99,49 INCH SUPER ULTRAWIDE 32:9 CURVED GAMING MON...,electronics,https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...,"{'rate': 2.2, 'count': 140}"
14,15,BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...,56.99,"Note:The Jackets is US standard size, Please c...",women's clothing,https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...,"{'rate': 2.6, 'count': 235}"
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,100% POLYURETHANE(shell) 100% POLYESTER(lining...,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...,"{'rate': 2.9, 'count': 340}"
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,Lightweight perfet for trip or casual wear---L...,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...,"{'rate': 3.8, 'count': 679}"
17,18,MBJ Women's Solid Short Sleeve Boat Neck V,9.85,"95% RAYON 5% SPANDEX, Made in USA or Imported,...",women's clothing,https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...,"{'rate': 4.7, 'count': 130}"
18,19,Opna Women's Short Sleeve Moisture,7.95,"100% Polyester, Machine wash, 100% cationic po...",women's clothing,https://fakestoreapi.com/img/51eg55uWmdL._AC_U...,"{'rate': 4.5, 'count': 146}"
19,20,DANVOUY Womens T Shirt Casual Cotton Short,12.99,"95%Cotton,5%Spandex, Features: Casual, Short S...",women's clothing,https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...,"{'rate': 3.6, 'count': 145}"

## 4. Simpan semua data yang diingest ke dalam Pandas DataFrame dan ekspor ke file Parquet

### 4.1 Simpan data ke Pandas DataFrame

In [ ]:
# Masing-masing data dari file csv, excel, database, dan api sudah disimpan dalam pandas data frame di setiap nomor soalnya

### 4.2 Install Library

In [12]:
%pip install pyarrow
%pip install fastparquet

Requirement already satisfied: pyarrow in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (15.0.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2,>=1.16.6 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from pyarrow) (1.26.4)
Requirement already satisfied: fastparquet in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (2024.2.0)
Requirement already satisfied: pandas>=1.5.0 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from fastparquet) (2.2.1)
Requirement already satisfied: numpy>=1.20.3 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from fastparquet) (1.26.4)
Requirement already satisfied: cramjam>=2.3 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from fastparquet) (2.8.3)
Requirement already satisfied: fsspec in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from fastparquet) (2023.12.2)
Requirement already satisfied: packaging in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from fastparquet) (24.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ikapu\.pyenv\pyenv-win\versions\3.11.4\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### 4.3 Export Data ke File Parquet

In [17]:
# No 1
df_transactions.to_parquet('file/transactions.parquet')
df_products.to_parquet('file/products.parquet')

# No 2
df_customers.to_parquet('file/customers.parquet')

# No 3
df_products_api.to_parquet('file/product_api.parquet')