# 1. Install Library

In [ ]:
%pip install requests
%pip install bs4
%pip install beautifulsoup4

# 2. Import Library

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# 3. Load Data

# BULALAPAK

In [36]:

url = "https://www.bukalapak.com/p/komputer/monitor/1oyon72-jual-samsung-lc24f390fhexxd-curved-monitor-24-inch-resmi"
response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser") 
reviews = soup.find_all("div", class_="c-reviews-item")
    
total = len(reviews)
print(total)
data = []

for review in reviews:
    # rating = review.find("span", class_="a-icon-alt").text
    title_review = review.find("h4", class_="c-reviews-item__title u-mrgn-top--1")
    desc_review = review.find("p", attrs={"data-testid": "content"} )
    date_review = review.find("p", class_="c-reviews-item__date u-fg--ash")
    name_user = review.find("a", class_="c-link--primary--black")
    data.append([title_review, desc_review, date_review, name_user])
    
df = pd.DataFrame(data, columns=["Title", "Description", "Date", "User Name"])
# print(df)
# display(df)
df

5

,Title,Description,Date,User Name
0,[Barang bagus banget!],[],"[Ditulis 23 Jun, 2023]",[paulusawproperti]
1,[Barang bagus banget!],[Barang sangat bagus dan berfungsi Pengiriman ...,"[Ditulis 12 Jul, 2023]",[maryono bin bain]
2,[Barang bagus banget!],[],"[Ditulis 29 Jul, 2023]",[Mohammad Jaenal]
3,[Barang bagus banget!],[],"[Ditulis 20 Okt, 2023]",[putu wawan darmawan]
4,[Barang bagus banget!],[Barang sangat bagus dan berfungsi sesuai den...,"[Ditulis 19 Feb, 2024]",None